.sectionConfig {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centralButtonConfig {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5.5rem;
}

.userConfig {
  align-items: center;
}