.contentInput {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  align-items: center;
  justify-content: center;
  margin: 1.2rem;
  padding: 1.2rem;
  gap: 1.2rem;
}